apps:
    - script   : ./api.js
name     : 'api-app'
instances: 4
exec_mode: cluster
- script : ./worker.js
name   : 'worker'
watch  : true
env    :
    NODE_ENV: development
env_production:
    NODE_ENV: production